# Python build artifacts
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# Data, Checkpoints & Results (ignore large files)
data/
checkpoints/
results/

# IDE and OS files
.vscode/
.idea/
.DS_Store